{% extends "base.html" %}
{% load django_bootstrap5 %}
{% load custom_filter %}

{% block main %}
<div class="container-fluid">
  <div class="row">
  
    <!-- Main -->
    
        <!-- Home tab -->
        <div id="home" class="tab-pane">
          <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
            <h1 class="h2">Home</h1>
          </div>
          
          <h1 class="h3">Projects and Models</h1>
          <a class="btn btn-primary" href="{% url 'project_new' %}">New Project</a>
          {% if projects %}
            {% for project in projects %}
              <p>
              <h1 class="h4">{{ project.name }}  <small><a href="{% url 'project_edit' project.id %}">Edit</a></small></h1>
              <p>{{ project.description | linebreaksbr }}</p>
              <a class="btn btn-primary" href="{% url 'model_new' project.id %}">New Model</a>
              {% if models|in_project:project %}
                <p><table class="table table-bordered border-primary table-hover ms-4">
                  <thead class="table-dark">
                    <tr>
                      <th scope="col">Name</th>
                      <th scope="col">Description</th>
                      <th scope="col">Dataset</th>
                      <th scope="col">Training Status</th>
                    </tr>
                  </thead>
                  <tbody>
                  {% for model in models|in_project:project %}
                    <tr>
                      <td><a href="{% url 'model_edit' project.id model.id %}">{{ model.name }}</a></td>
                      <td>{{ model.description | linebreaksbr }}</td>
                      <td>{{ model.dataset }}</td>
                      <td>{{ model.status }}</td>
                    </tr>
                  {% endfor %}
                  </tbody>
                </table></p>
              {% else %}
                <p>No Models</p>
              {% endif %}
              </p>
            {% endfor %}
          {% else %}
            <p>No Projects</p>
          {% endif %}
          
          <h1 class="h3">System Information</h1>
          <table class="table table-bordered border-primary table-hover ms-4">
            {% for info in system_info %}
              <tr>
                <td>{{ info.name }}</td>
                <td>
                  <ul>
                    <li>[device_type] {{ info.device_type }}</li>
                    {% if info.physical_device_desc %}
                      <li>[physical_device_desc] {{ info.physical_device_desc }}</li>
                    {% else %}
                      <li>[physical_device_desc] (no description)</li>
                    {% endif %}
                  </ul>
                </td>
              </tr>
            {% endfor %}
          </table>
        </div>
        
  </div>
</div>
{% endblock %}

