{% extends "base.html" %}
{% load django_bootstrap5 %}
{% load custom_filter %}

{% block main %}
<div class="container-fluid">
  <div class="row">
  
    <!-- Inference tab -->
    <div id="inference" class="tab-pane">
      <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
        <h1 class="h2">Inference</h1>
      </div>
      
      <h1 class="h3">Select Project</h1>
      {% if project %}
        <form method="post">
          {% csrf_token %}
            <div class="btn-group">
              <button type="button" class="btn btn-primary dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
                {% if project_dropdown_selected %}
                  {{ project_dropdown_selected.name }}
                {% else %}
                  Select Project
                {% endif %}
              </button>
              <ul class="dropdown-menu">
              {% for project_ in project %}
                <li><button class="dropdown-item" type="submit" name="inference_view_project_dropdown" value="{{ project_.name }}">{{ project_.name }}</button></li>
              {% endfor %}
              </ul>
            </div>
        </form>
        
        <h1 class="h3">Select Model</h1>
        {% if model|in_project:project_dropdown_selected %}
          <form method="post">
            {% csrf_token %}
              <div class="btn-group">
                <button type="button" class="btn btn-primary dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
                  {% if model_dropdown_selected %}
                    {{ model_dropdown_selected.name }}
                  {% else %}
                    Select Model
                  {% endif %}
                </button>
                <ul class="dropdown-menu">
                {% for model_ in model %}
                  <li><button class="dropdown-item" type="submit" name="inference_view_model_dropdown" value="{{ model_.name }}">{{ model_.name }}</button></li>
                {% endfor %}
                </ul>
              </div>
          </form>
          
          {% if model_dropdown_selected %}
            {% if model_dropdown_selected.status|stringformat:'s' != 'DONE' %}
              <p><font color="red">!! Please select the trained model !!</font></p>
            {% endif %}
            <p><table class="table table-bordered border-primary table-hover ms-4">
              <tr>
                <td>Name</td>
                <td>{{ model_dropdown_selected.name }}</td>
              </tr>
              <tr>
                <td>Description</td>
                <td>{{ model_dropdown_selected.description | linebreaksbr }}</td>
              </tr>
              <tr>
                <td>Project</td>
                <td>{{ model_dropdown_selected.project.name }}</td>
              </tr>
              <tr>
                <td>Status</td>
                <td>{{ model_dropdown_selected.status }}</td>
              </tr>
              <tr>
                <td>Training PID(debug)</td>
                {% if model_dropdown_selected.training_pid %}
                  <td>{{ model_dropdown_selected.training_pid }}</td>
                {% else %}
                  <td>--- (Not Training)</td>
                {% endif %}
              </tr>
              <tr>
                <td>Tensorboard PID(debug)</td>
                {% if model_dropdown_selected.tensorboard_pid %}
                  <td>{{ model_dropdown_selected.tensorboard_pid }}</td>
                {% else %}
                  <td>--- (Not Training)</td>
                {% endif %}
              </tr>
              <tr>
                <td>Model hash(debug)</td>
                <td>{{ model_dropdown_selected.hash }}</td>
              </tr>
            </table></p>
          {% else %}
            <p>Unknown Model</p>
          {% endif %}
        {% else %}
          <p>No Model registered</p>
        {% endif %}
        
        <h1 class="h3">Select Dataset</h1>
        <p>
        (T.B.D) <br>
        dataset dropdown will be selected dataset that user required to inference. <br>
        NOW inference dataset is related in selected model.
        </p>
        <form method="post">
        {% csrf_token %}
          <div class="btn-group">
            <!-- select dataset -->
            <button type="button" class="btn btn-primary dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
            {% if dataset_dropdown_selected %}
              {{ dataset_dropdown_selected.name }}
            {% else %}
              Select Dataset
            {% endif %}
            </button>
            <ul class="dropdown-menu">
            {% for dataset_ in dataset %}
              <li><button class="dropdown-item" type="submit" name="inference_view_dataset_dropdown" value="{{ dataset_.name }}">{{ dataset_.name }}</button></li>
            {% endfor %}
            </ul>
          </div>
        </form>
      
        <h1 class="h3">Prediction</h1>
        <form method="post">
        {% csrf_token %}
          {% if model_dropdown_selected and model_dropdown_selected.status|stringformat:'s' == 'DONE' and dataset_dropdown_selected %}
            <button type="submit" class="btn btn-primary" id="inference_run" name="inference_run" value="inference_run">Run</button>
          {% else %}
            <button type="submit" class="btn btn-primary" id="inference_run" name="inference_run" value="inference_run" disabled>Run</button>
          {% endif %}
        </form>
        
        <h1 class="h4">Result</h1>
        {% if prediction %}
          {% if dataset.dataset_type|stringformat:'s' == 'img_clf' or dataset.dataset_type|stringformat:'s' == 'table_clf' %}
            <div class="container">
              <div class="row">
                <div class="col-1">
                  <h1 class="h5">Filter: </h1>
                </div>
                <div class="col-1">
                  <form method="post">
                  {% csrf_token %}
                    <div class="btn-group">
                      <!-- select filter -->
                      <button type="button" class="btn btn-primary dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
                        {{ prediction_filter_selected }}
                      </button>
                      <ul class="dropdown-menu">
                        <li><button class="dropdown-item" type="submit" name="prediction_filter" value="All">All</button></li>
                        <li><button class="dropdown-item" type="submit" name="prediction_filter" value="Correct">Correct</button></li>
                        <li><button class="dropdown-item" type="submit" name="prediction_filter" value="Wrong">Wrong</button></li>
                      </ul>
                    </div>
                  </form>
                </div>
              </div>
            </div>
          {% endif %}
          
          <p><table class="table table-bordered border-primary table-hover ms-4">
            <thead class="table-dark">
              <tr>
                <th scope="col">ID</th>
                <th scope="col">Prediction</th>
                <th scope="col">Target</th>
              </tr>
            </thead>
            <tbody>
            {% if dataset.dataset_type|stringformat:'s' == 'img_clf' or dataset.dataset_type|stringformat:'s' == 'table_clf' %}
              {% for prediction_ in prediction %}
                {% if prediction_filter_selected|stringformat:'s' == 'All' %}
                  <tr>
                    <td>{{ prediction_.id }}</td>
                    <td>{{ prediction_.prediction }}</td>
                    <td>{{ prediction_.target }}</td>
                  </tr>
                {% elif prediction_filter_selected|stringformat:'s' == 'Correct' %}
                  {% if prediction_.prediction == prediction_.label %}
                    <tr>
                      <td>{{ prediction_.id }}</td>
                      <td>{{ prediction_.prediction }}</td>
                      <td>{{ prediction_.target }}</td>
                    </tr>
                  {% endif %}
                {% elif prediction_filter_selected|stringformat:'s' == 'Wrong' %}
                  {% if prediction_.prediction != prediction_.label %}
                    <tr>
                      <td>{{ prediction_.id }}</td>
                      <td>{{ prediction_.prediction }}</td>
                      <td>{{ prediction_.target }}</td>
                    </tr>
                  {% endif %}
                {% else %}
                  <tr>
                    <td>---</td>
                    <td>---</td>
                    <td>---</td>
                  </tr>
                {% endif %}
              {% endfor %}
            {% else %}
              {% for prediction_ in prediction %}
                <tr>
                  <td>{{ prediction_.id }}</td>
                  <td>{{ prediction_.prediction }}</td>
                  <td>{{ prediction_.target }}</td>
                </tr>
              {% endfor %}
            {% endif %}
            </tbody>
          </table></p>
        {% else %}
          <p>No Result</p>
        {% endif %}
      {% else %}
        <p>No Projects</p>
      {% endif %}

    </div>
  </div>
</div>
{% endblock %}

