{% extends "base.html" %}
{% load django_bootstrap5 %}

{% block main %}
<div class="container-fluid">
  <h2> Edit Project</h2>
  <form method="post">
    {% csrf_token %}
    {% bootstrap_form form %}
    <button type="submit" class="btn btn-primary" id="project_apply" name="project_apply">Apply</button>
    <a class="btn btn-primary" href="{% url 'index' %}" role="button">Cancel</a>
    <button type="submit" class="btn btn-danger" id="project_delete" name="project_delete">Delete</button>
  </form>
</div>
{% endblock %}

