{% extends "base.html" %}
{% load django_bootstrap5 %}
{% load custom_filter %}

{% block main %}
<div class="container-fluid">
  <div class="row">
  
    <!-- View Streaming tab -->
    <div id="view_streaming" class="tab-pane">
      <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
        <h1 class="h2">View Streaming</h1>
      </div>
    </div>
    
    <h1 class="h3">Select Interface</h1>
    
    <form method="post">
      {% csrf_token %}
      <div class="btn-group">
        <button type="button" class="btn btn-primary dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
          {% if streaming_interface %}
            {{ streaming_interface }}
          {% else %}
            Select Interface
          {% endif %}
        </button>
        <ul class="dropdown-menu">
          <li><button class="dropdown-item" type="submit" name="streaming_view_interface_dropdown" value="USB Camera">USB Camera</button></li>
          <li><button class="dropdown-item" type="submit" name="streaming_view_interface_dropdown" value="YouTube">YouTube</button></li>
          <li><button class="dropdown-item" type="submit" name="streaming_view_interface_dropdown" value="Network Camera">Network Camera</button></li>
        </ul>
      </div>
    </form>
    
    
    {% if streaming_interface|stringformat:'s' == 'USB Camera' %}
      <h1 class="h3">Select Project</h1>
      <form method="post">
        {% csrf_token %}
          <div class="btn-group">
            <button type="button" class="btn btn-primary dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
              {% if streaming_view_selected_project %}
                {{ streaming_view_selected_project }}
              {% else %}
                Select Project
              {% endif %}
            </button>
            <ul class="dropdown-menu">
            <li><button class="dropdown-item" type="submit" name="streaming_view_project_dropdown" value="Sample">Sample</button></li>
            {% for project_ in project %}
              <li><button class="dropdown-item" type="submit" name="streaming_view_project_dropdown" value="{{ project_.name }}">{{ project_.name }}</button></li>
            {% endfor %}
            </ul>
          </div>
      </form>
      
      <h1 class="h3">Select Model</h1>
      {% if model|in_project:streaming_view_selected_project_obj %}
        <form method="post">
          {% csrf_token %}
            <div class="btn-group">
              <button type="button" class="btn btn-primary dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
                {% if streaming_view_selected_model %}
                  {{ streaming_view_selected_model }}
                {% else %}
                  Select Model
                {% endif %}
              </button>
              <ul class="dropdown-menu">
              {% for model_ in model %}
                <li><button class="dropdown-item" type="submit" name="streaming_view_model_dropdown" value="{{ model_ }}">{{ model_ }}</button></li>
              {% endfor %}
              </ul>
            </div>
        </form>
        
      {% else %}
        <p>[T.B.D] This is sample models of pre-trained</p>
        <h1 class="h4 ms-2">Pre-trained model list</h1>
        <h1 class="h5 ms-4">Classification</h1>
        <ul class="ms-5">
          <li>Resnet50</li>
        </ul>
        <h1 class="h5 ms-4">Object Detection</h1>
        <ul class="ms-5">
          <li>CenterNetHourGlass104</li>
        </ul>
        
        <form method="post">
          {% csrf_token %}
          <div class="btn-group">
            <button type="button" class="btn btn-primary dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
              {% if streaming_view_selected_model %}
                {{ streaming_view_selected_model }}
              {% else %}
                Select Model
              {% endif %}
            </button>
            <ul class="dropdown-menu">
              <li><button class="dropdown-item" type="submit" name="streaming_view_model_dropdown" value="None">None</button></li>
              {% for model_name in pretrained_model_list %}
                <li><button class="dropdown-item" type="submit" name="streaming_view_model_dropdown" value="{{ model_name }}">{{ model_name }}</button></li>
              {% endfor %}
            </ul>
          </div>
        </form>
      {% endif %}
      
      <div class="col-10 mt-2">
        <img src="{% url 'view_streaming_usb_cam' %}">
      </div>
    {% elif streaming_interface|stringformat:'s' == 'YouTube' %}
      <h1 class="h3">Select Project</h1>
      <form method="post">
        {% csrf_token %}
          <div class="btn-group">
            <button type="button" class="btn btn-primary dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
              {% if streaming_view_selected_project %}
                {{ streaming_view_selected_project }}
              {% else %}
                Select Project
              {% endif %}
            </button>
            <ul class="dropdown-menu">
            <li><button class="dropdown-item" type="submit" name="streaming_view_project_dropdown" value="Sample">Sample</button></li>
            {% for project_ in project %}
              <li><button class="dropdown-item" type="submit" name="streaming_view_project_dropdown" value="{{ project_.name }}">{{ project_.name }}</button></li>
            {% endfor %}
            </ul>
          </div>
      </form>
      
      <h1 class="h3">Select Model</h1>
      {% if model|in_project:streaming_view_selected_project_obj %}
        <form method="post">
          {% csrf_token %}
            <div class="btn-group">
              <button type="button" class="btn btn-primary dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
                {% if streaming_view_selected_model %}
                  {{ streaming_view_selected_model }}
                {% else %}
                  Select Model
                {% endif %}
              </button>
              <ul class="dropdown-menu">
              {% for model_ in model %}
                <li><button class="dropdown-item" type="submit" name="streaming_view_model_dropdown" value="{{ model_ }}">{{ model_ }}</button></li>
              {% endfor %}
              </ul>
            </div>
        </form>
        
      {% else %}
        <p>[T.B.D] This is sample models of pre-trained</p>
        <h1 class="h4 ms-2">Pre-trained model list</h1>
        <h1 class="h5 ms-4">Classification</h1>
        <ul class="ms-5">
          <li>Resnet50</li>
        </ul>
        <h1 class="h5 ms-4">Object Detection</h1>
        <ul class="ms-5">
          <li>CenterNetHourGlass104</li>
        </ul>
        
        <form method="post">
          {% csrf_token %}
          <div class="btn-group">
            <button type="button" class="btn btn-primary dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
              {% if streaming_view_selected_model %}
                {{ streaming_view_selected_model }}
              {% else %}
                Select Model
              {% endif %}
            </button>
            <ul class="dropdown-menu">
              <li><button class="dropdown-item" type="submit" name="streaming_view_model_dropdown" value="None">None</button></li>
              {% for model_name in pretrained_model_list %}
                <li><button class="dropdown-item" type="submit" name="streaming_view_model_dropdown" value="{{ model_name }}">{{ model_name }}</button></li>
              {% endfor %}
            </ul>
          </div>
        </form>
      {% endif %}
      
      <!-- Set YouTube URL -->
      <form method="post">
        {% csrf_token %}
        <div class="row">
          <label class="col-sm-2 col-form-label">URL</label>
          <div class="col">
            <input type="text" class="form-control mb-1" placeholder="0" name="view_streaming_youtube_url" value="{{ youtube_url }}">
          </div>
        </div>
        
        <button type="submit" name="view_streaming_youtube_url_apply" class="btn btn-primary mb-2">Apply</button>
      </form>
      
      <div class="col-10 mt-2">
        <img src="{% url 'view_streaming_youtube' %}">
      </div>
    {% elif streaming_interface|stringformat:'s' == 'Network Camera' %}
      <!-- Set IP address and PORT -->
      <form method="post">
        {% csrf_token %}
        <div class="row">
          <label class="col-sm-2 col-form-label">IP Address</label>
          <div class="col">
            <input type="text" class="form-control mb-1" placeholder="0" name="ip_0" value="{{ ip_addr.0 }}">
          </div>
          .
          <div class="col">
            <input type="text" class="form-control mb-1" placeholder="0" name="ip_1" value="{{ ip_addr.1 }}">
          </div>
          .
          <div class="col">
            <input type="text" class="form-control mb-1" placeholder="0" name="ip_2" value="{{ ip_addr.2 }}">
          </div>
          .
          <div class="col">
            <input type="text" class="form-control mb-1" placeholder="0" name="ip_3" value="{{ ip_addr.3 }}">
          </div>
        </div>
        
        <div class="row">
          <label class="col-sm-2 col-form-label">PORT</label>
          <div class="col">
            <input type="text" class="form-control mb-1" placeholder="0" name="port" value="{{ port }}">
          </div>
        </div>
        
        <button type="submit" name="view_streaming_ipaddr_apply" class="btn btn-primary mb-2">Apply</button>
      </form>
      
      <!-- Streaming Area -->
      <h1 class="h3">mjpg-streamer</h1>
      {% if valid_url %}
        <div class="col-10">
          <img src="http://{{ ip_addr.0 }}.{{ ip_addr.1 }}.{{ ip_addr.2 }}.{{ ip_addr.3 }}:{{ port }}/?action=stream">
        </div>
      {% else %}
        <p>Here is streaming area of mjpg-streamer. Please set IP Address and PORT, then press Apply button.</p>
      {% endif %}
    {% endif %}
    
  </div>
</div>
{% endblock %}

