/*
!/.gitignore

!/documents
/documents/*

!/dataset
/dataset/*

!/config
/config/*

!/model
/model/*

!/notebooks
/notebooks/*
!/notebooks/.gitignore
!/notebooks/samples

!/ai_model_sdk
/ai_model_sdk/.gitignore
/ai_model_sdk/SimpleCNN

